<h1>Jobs Show Page</h1>

<% if flash[:success] %>
    <p><%= flash[:success] %></p>
    <% end %>

<p>Neighbir Id: <%= @job.neighbor_id %></p>
<p>Worker Bee Id: <%= @job.worker_bee_id %></p>
<p>Date: <%= @job.date %></p>




 