  
<h1>The Bee Hive</h1>

<table class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Skills</th>
    <th>Rate</th>
    <th>Availability</th>
  </tr>
 </thead>
 <tbody>
 <% @worker_bees.each do |worker_bee| %>
    <tr>
    <td><%= worker_bee.name %></td>
    <td><%= worker_bee.skill_set %></td>
    <td><%= worker_bee.rate %></td>
    <td><%= worker_bee.availability %></td>
    <% end %>
    </tbody>
</table>